@use "../../abstracts" as *;

/* --------------------------
   Text Field
--------------------------- */

.text-field {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--border);
  background-color: var(--foreground);
  color: var(--heading);
  border-radius: 0.87em;
  margin-bottom: 1em;        /* reduce bottom margin */
  padding: 1.25em 1em 0.75em; /* top, sides, bottom */
  font-size: 1rem;
  line-height: 1.2;
  transition: border-color 0.3s cubic-bezier(.25, .46, .45, .94);

  @include respond-to(small) {
    margin-bottom: 0.9em;
  }

  &:focus {
    border-color: var(--accent-a1);
    outline: none;
  }

  /* Placeholder is a logic hook only */
  &::placeholder {
    color: var(--accent-h1);
    opacity: 0;
  }

  .transparent {
    color: var(--foreground);
    background-color: #ffffff1a;
    border-color: #fff3;

    &:focus {
      border-color: var(--foreground);
    }
  }
}

/* --------------------------
   Floating Label (base state)
--------------------------- */

.text-field + .form-label {
  position: absolute;
  left: 1em;                  /* align with input padding */
  top: 1.25em;                /* inside input, same as input padding-top */
  font-size: 1rem;
  line-height: 1;
  pointer-events: none;
  background-color: var(--foreground);
  padding: 0 0.25em;
  transition:
    top 0.2s ease,
    font-size 0.2s ease,
    color 0.2s ease;
}

/* --------------------------
   Float on focus OR value
--------------------------- */

.text-field:focus + .form-label,
.text-field:not(:placeholder-shown) + .form-label {
  top: 0.3em;                /* float above text, but not touching top border */
  font-size: 0.75rem;
  color: var(--accent-a1);
}

/* --------------------------
   Transparent Variant
--------------------------- */

.text-field.transparent + .form-label {
  background-color: transparent;
}

.text-field.transparent:focus + .form-label,
.text-field.transparent:not(:placeholder-shown) + .form-label {
  color: var(--foreground);
}

/* --------------------------
   Mobile
--------------------------- */

@media screen and (max-width: 479px) {
  .text-field + .form-label {
    left: 0.9em;
    top: 1.1em;
  }

  .text-field:focus + .form-label,
  .text-field:not(:placeholder-shown) + .form-label {
    top: 0.25em;
  }
}
