/// Custom variables for this project which will override Bootstrap defaults.
/// Some of the most commonly used variables are included below.
/// Uncomment and change, or add more variables here to match your brand.
///
/// All variables can be found here:
///   https://github.com/twbs/bootstrap/blob/v5.3.2/scss/_variables.scss
///
/// Bootstrap guide can be found here:
///   https://getbootstrap.com/docs/5.3/customize/overview/


/// Color system
///
/// For example, if your brand color is neon green (#00ff00), set primary to the
/// hex value, then reference $primary where needed. This way Bootstrap will
/// pick up on your color and use it everywhere:
///
///     $primary: #00ff00
///
/// See: https://getbootstrap.com/docs/5.3/customize/color/

/// $primary:       $blue;
/// $secondary:     $gray-600;

/// $success:       $green;
/// $info:          $cyan;
/// $warning:       $yellow;
/// $danger:        $red;

/// $light:         $gray-100;
/// $dark:          $gray-900;

:root {
  --white: white;

  --background: #f4fdf8;
  --foreground: var(--white);

  --border: rgba(0, 105, 62, 0.2);
  --heading: #083629;
  --paragraph: rgba(8, 54, 41, 0.8);

  --accent-a1: #00693e; /* Primary (Original - #008726) */
  --accent-b1: rgba(0, 105, 62, 0.07); /* Secondary (Original - #00872612) */
  --accent-c1: #00693e0d; /* Box Shadow */
  --accent-d1: #38b47c; /* Commerce */
  --accent-e1: #00693e33; /* Blockquote */
  --accent-f1: #e4f2e7; /* Figcaption */

  --accent-a2: #bc0087;
  --accent-b2: #bc008712;

  --accent-a3: #3959ff;
  --accent-b3: #3959ff12;

  --accent-a4: #eadb5b;

  --font-sans: 'Space Grotesk', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;
  --font-mono: 'IBM Plex Mono', ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, monospace;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f1f18;
    --foreground: #49514d;
    
    --border: rgba(165, 255, 205, 0.15);
    --heading: #d4f8e5;
    --paragraph: rgba(212, 248, 229, 0.85);
  }
}*/

/// Body
///
/// Settings for the `<body>` element.

/// $body-bg:                   $background;
/// $body-color:                $paragraph;


/// Typography
///
/// Font, line-height, and color for body text, headings, and more.

// Body fonts.
/// $font-family-base:            null;
$font-size-base:              1rem;
/// $font-weight-light:           300;
/// $font-weight-normal:          400;
$font-weight-semibold:        600;
$font-weight-bold:            700;
/// $font-weight-base:            $font-weight-normal;

// Headings
$headings-font-family:        var(--font-mono);
$headings-font-weight:        700;
$headings-color:              var(--heading);;
$h1-font-size:                $font-size-base * 4.12;
$h2-font-size:                $font-size-base * 3.12;
$h3-font-size:                $font-size-base * 2.37;
$h4-font-size:                $font-size-base * 1.75;
$h5-font-size:                $font-size-base * 1.37;
$h6-font-size:                $font-size-base;

$font-size-small:             .7rem;
$font-size-normal:            .87rem;
$font-size-large:             1.125rem;

$font-weight-base:            300;
$font-weight-light:           400;
$font-weight-normal:          500;
$font-weight-bold:            700;

$line-height-base:            1.1;
$line-height-small:           1.2;
$line-height-normal:          1.3;
$line-height-large:           1.6;

$btn-border-radius: 50em;
$btn-font-weight: $font-weight-normal;
$btn-line-height: $line-height-normal;
$btn-letter-spacing: -0.02em;
$btn-font-size: 1.12rem;
$btn-padding-y: 0.9rem;
$btn-padding-x: 1.8rem;

$btn-border-radius-sm: 50em;
$btn-padding-y-sm: 0.7rem;
$btn-padding-x-sm: 1.4rem;
$btn-font-size-sm: 1rem;