///
/// Wagtail CRX Sass starter template
///
/// Import scss sources from the coderedcms pip package,
/// or from your own local directory as needed.
///

// Use custom variables.
@import "variables";
@import "themes";
@import "mixins";

// Import Bootstrap. Alternatively, change this to import individual components
// of Bootstrap as needed.
// @import "coderedcms/vendor/bootstrap/scss/bootstrap";

@import "normalize";

// @import 'base/base';
// @import 'base/typography';
// @import 'base/page';
// @import 'base/wrapper';
// @import 'base/webflow';
@import "globals";

@import "pages/accounts";
//@import 'pages/blog';
//@import 'pages/solutions';
//@import 'pages/contact';

// Layout.
// @import 'layout/top_bar';
// @import 'layout/header';
// @import 'layout/navigation';
// @import 'layout/hero';
// @import 'layout/banner';
// @import 'layout/footer';
@import "layout/table";

// Component.
// @import 'components/button';
// @import 'components/form';
// @import 'components/list';
// @import 'components/links';
// @import 'components/subtitles';
// @import 'components/states';
// @import 'components/utils';
// @import 'components/info';
// @import 'components/lottie';
// @import 'components/embeds';
// @import 'components/messages';
// @import 'components/numbers';
// @import 'components/reviews';
// @import 'components/richtext';
// @import 'components/clients';
// @import 'components/tags';
// @import 'components/faqs';
// @import 'components/features';
// @import 'components/map';

// Shop Page
// @import 'components/categories';
// @import 'components/products';
// @import 'components/ecommerce';

// Company Page
// @import 'components/about';
// @import 'components/quote';
// @import 'components/team';