@use "colors" as *;
@use "brands" as *;
@use "modes" as *;

/* -----------------------------------
   Theme maps
----------------------------------- */
@mixin css-vars-from-map($map) {
  @each $key, $value in $map {
    --#{$key}: #{$value};
  }
}

$themes: (
/* -----------------------------------
  light: (
    bg: $white,
    surface: $gray-50,
    text: $gray-900,
    border: rgba($black, 0.08),
    primary: $blue-600,
    shadow: 0 8px 24px rgba($black, 0.08),
  ),

  dark: (
    bg: $black,
    surface: #111827,
    text: $gray-50,
    border: rgba($white, 0.08),
    primary: $blue-500,
    shadow: 0 8px 24px rgba($black, 0.5),
  ),
----------------------------------- */
  g: (
    background: #f4fdf8,
    foreground: white,

    border: rgba(0, 105, 62, 0.2),
    heading: #083629,
    paragraph: rgba(8, 54, 41, 0.8),

    accent-a1: #00693e,
    accent-b1: rgba(0, 105, 62, 0.07),
    accent-c1: #00693e0d,
    accent-d1: #38b47c,
    accent-e1: #00693e33,
    accent-f1: #e4f2e7,
    accent-g1: #0F2117,
    accent-h1: #0F211799,

    accent-a2: #bc0087,
    accent-b2: #bc008712,

    accent-a3: #3959ff,
    accent-b3: #3959ff12,

    accent-a4: #eadb5b
  ),
  b: (
    background: #f4f6f7,
    foreground: white,

    border: #0f649233,
    heading: #141718,
    paragraph: #141718cc,

    accent-a1: #3959ff,
    accent-b1: #3959ff12,
    accent-c1: #1417180d,
    accent-d1: #38b47c,
    accent-e1: #3959ff33,
    accent-f1: #e4ebee,
    accent-g1: #14171826,
    accent-h1: #14171899,

    accent-a2: #bc0087,
    accent-b2: #bc008712,

    accent-a3: #008726,
    accent-b3: #00872612,

    accent-a4: #eadb5b
  )
);

$active-theme-name: g;
$active-theme: map-get($themes, $active-theme-name);
