@use "../abstracts" as *;

.collection-list-posts {
  grid-column-gap: 1.5em;
  grid-row-gap: 3.4em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;

  @include respond-to(large) {
    grid-column-gap: 1.13em;
    grid-row-gap: 3em;
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to(medium) {
    grid-row-gap: 2em;
    grid-template-columns: 1fr;
  }

  @include respond-to(small) {
    grid-row-gap: 1.5em;
  }

  &.large {
    grid-template-columns: 1fr;
  }
}

.block-post {
  background-color: $white;
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  box-shadow: 0 15px 25px -10px $shadow-c1;

  &.large {
    grid-column-gap: 0em;
    grid-row-gap: 0em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  
    @include respond-to(medium) {
      grid-template-columns: 1fr;
    }
  }
}

.collection-list-wrapper-posts.large {
  margin-bottom: 3.4em;

  @include respond-to(large) {
    margin-bottom: 3em;
  }

  @include respond-to(medium) {
    margin-bottom: 2em;
  }

  @include respond-to(small) {
    margin-bottom: 1.5em;
  }
}

.image-post-thumbnail {
  object-fit: cover;
  border-radius: .87em;
  width: 100%;
  height: 15em;

  @include respond-to(medium) {
    height: 50vw;
  }

  &.large {
    height: auto;
    max-height: 40em;
    display: block;
  
    @include respond-to(large) {
      height: 28vw;
    }
  
    @include respond-to(medium) {
      height: 50vw;
    }
  }
}

.link-post-thumbnail {
  width: 100%;

  &.large {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }
}

.post {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 2.5em 2.8em;
  display: flex;

  @include respond-to(small) {
    padding: 1.8em 2.2em;
  }

  &.large {
    justify-content: center;
    padding: 4.3em 4.5em;
  
    @include respond-to(large) {
      padding: 3.4em 3.2em;
    }
  
    @include respond-to(small) {
      padding: 1.8em 2.2em;
    }
  }
}

.link-heading-post {
  margin-bottom: 1.3em;
  text-decoration: none;

  &.large {
    margin-bottom: 1.4em;
  }
}

.date {
  color: #14171880;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: .8em;
  font-family: $w-font-mono;
  font-size: .7em;
  font-weight: $font-weight-normal;
  line-height: $line-height-normal;
}

.paragraph-post {
  margin-bottom: 1.4em;

  &.large {
    max-width: 25em;
    margin-bottom: 1.6em;
  }
}

.post-body {
  box-sizing: border-box;
  background-color: $white;
  border-radius: .87em;
  width: 100%;
  padding: 4em 13%;
  box-shadow: 0 15px 25px -10px $shadow-c1;

  @include respond-to(large) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @include respond-to(medium) {
    padding-top: 2.9em;
    padding-bottom: 2.9em;
  }

  @include respond-to(small) {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}

.image-main-post {
  object-fit: cover;
  border-radius: .87em;
  width: 100%;
}