@import '../libs/variables';
@import '../libs/mixins';

.yellow-tag {
  background-color: $primary-a4;
  color: $heading;
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  padding: .7em 1.1em;
  font-family: $w-font-mono;
  font-size: .7em;
  font-weight: $font-weight-normal;
  line-height: 110%;
  position: absolute;
  inset: -.8em 2em auto auto;
}

.green-tag {
  background-color: $primary-a3;
  color: $white;
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  padding: .7em 1.1em;
  font-family: $w-font-mono;
  font-size: .7em;
  font-weight: $font-weight-normal;
  line-height: 110%;
  position: absolute;
  inset: -.8em 2em auto auto;
}