@use '../abstracts' as *;

.grid-about {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;

  @include respond-to(large) {
    grid-column-gap: 1.13em;
    grid-row-gap: 1.13em;
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to(medium) {
    grid-column-gap: .87em;
    grid-row-gap: .87em;
    grid-template-columns: 1fr;
  }
}

.about {
  grid-row-gap: 1.2em;
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.1em;
  display: flex;
  position: relative;

  @include respond-to(small) {
    padding: 2em;
  }

  &.red {
    color: var(--accent-a2);
    background-color: var(--accent-b2);
  }

  &.blue {
    background-color: var(--accent-b3);
    color: var(--accent-a3);
  }

  &.green {
    background-color: var(--accent-b1);
    color: var(--accent-a1);
  }
}

.block-icon-about {
  border-radius: .87em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4.5em;
  height: 4.5em;
  display: flex;

  &.red {
    background-color: var(--accent-a2);
  }

  &.blue {
    background-color: var(--accent-a3);
  }

  &.green {
    background-color: var(--accent-a1);
  }
}


.icon-about {
  width: 2em;
  height: 2em;
}

.heading-about {
  color: var(--accent-a1);

  &.red {
    color: var(--accent-a2);
  }

  &.blue {
    color: var(--accent-a3);
  }

  &.green {
    color: var(--accent-a1);
  }
}
