@use '../abstracts' as *;

.list {
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon-list {
  width: 1.125em;
  height: 1.125em;
}

.block-icon-list {
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 1.625em;
  height: 1.625em;
  display: flex;

  &.red {
    background-color: var(--accent-b2);
  }

  &.blue {
    background-color: var(--accent-b3);
  }

  &.green {
    background-color: var(--accent-b1);
  }
}

.heading-list {
  color: var(--accent-a1);

  &.red {
    color: var(--accent-a2);
  }

  &.blue {
    color: var(--accent-a3);
  }

  &.green {
    color: var(--accent-a1);
  }
}

.block-list {
  grid-column-gap: .56em;
  grid-row-gap: .56em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
