@use '../abstracts' as *;

.map {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  padding-top: 50%;
}

.map iframe {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border: none;
  border-radius: .87em;
}
