@use '../abstracts' as *;

.section-messages {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .4em 2em;
  display: flex;

  @include respond-to(large) {
    padding-top: .8em;
    padding-bottom: .8em;
  }

  @include respond-to(small) {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

.messages {
  grid-column-gap: 1.87em;
  flex-flow: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;

  &.info {
    background-color: #d1fae5; // positive/success green
  }

  &.success {
    background-color: #dbeafe; // info blue
  }

  &.warning {
    background-color: #fef3c7; // warning amber
  }

  &.error {
    background-color: #fee2e2; // critical red
  }

  @include respond-to(small) {
    grid-row-gap: .6em;
    flex-direction: column;
    align-items: flex-start;
  }
}

.item-messages {
  opacity: .7;
  color: var(--foreground);
  letter-spacing: -.02em;
  font-size: .87em;
  line-height: $line-height-small;
}
