@use '../abstracts' as *;

.yellow-tag {
  background-color: var(--accent-a4);
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  padding: .7em 1.1em;
  font-family: var(--font-mono);
  font-size: .7em;
  font-weight: $font-weight-normal;
  line-height: 110%;
  position: absolute;
  inset: -.8em 2em auto auto;
}

.green-tag {
  background-color: var(--accent-a3);
  color: var(--foreground);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  padding: .7em 1.1em;
  font-family: var(--font-mono);
  font-size: .7em;
  font-weight: $font-weight-normal;
  line-height: 110%;
  position: absolute;
  inset: -.8em 2em auto auto;
}
