@import '../libs/variables';
@import '../libs/mixins';

.utility-page-wrap {
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3em 1em;
  display: flex;
}

.utility-page-content {
  background-color: $white;
  text-align: center;
  border-radius: .87em;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 24em;
  margin-bottom: 0;
  padding: 3.1em;
  display: flex;
  box-shadow: 0 15px 25px -10px $shadow-c1;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-top: .8em;
  display: flex;
}

@media screen and (max-width: 479px) {
  .utility-page-wrap {
    padding-top: 2em;
  }

  .utility-page-content {
    padding: 2em;
  }
}