///
/// Wagtail CRX Sass starter template
///
// Base.
@import 'base/base';
@import 'base/typography';
@import 'base/page';
@import 'base/wrapper';
@import 'base/webflow';

.visually-hidden-focusable {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.visually-hidden-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

// Component.
@import 'components/button';
@import 'components/form';
@import 'components/list';
@import 'components/links';
@import 'components/subtitles';
@import 'components/states';
@import 'components/utils';
@import 'components/info';
@import 'components/lottie';
@import 'components/embeds';
@import 'components/messages';
@import 'components/numbers';
@import 'components/reviews';
@import 'components/richtext';
@import 'components/clients';
@import 'components/tags';
@import 'components/faqs';
@import 'components/features';
@import 'components/map';

// Shop Page
@import 'components/categories';
@import 'components/products';
@import 'components/ecommerce';

// Company Page
@import 'components/about';
@import 'components/quote';
@import 'components/team';

// Layout.
@import 'layout/top_bar';
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/hero';
@import 'layout/banner';
@import 'layout/footer';

@import 'accounts';
@import 'blog';
@import 'solutions';
@import 'contact';
