@use '../abstracts' as *;

.subtitle {
  background-color: var(--foreground);
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  margin-bottom: .7em;
  padding: .5em 1em;
  font-family: var(--font-mono);
  font-size: .7em;
  font-weight: $font-weight-normal;
  line-height: $line-height-normal;
  box-shadow: 0 10px 20px -10px var(--accent-c1);

  &.red {
    background-color: var(--accent-b2);
    color: var(--accent-a2);
  }

  &.blue {
    background-color: var(--accent-b3);
    color: var(--accent-a3);
  }

  &.green {
    background-color: var(--accent-b1);
    color: var(--accent-a1);
  }

  &.white {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--accent-a1);
  }
}
