@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../abstracts/themes";

.heading-account {
  max-width: 9em;
  margin-bottom: .3em;

  &.white {
    color: var(--white);
  }
}

.paragraph-account {
  max-width: 23em;
  margin-bottom: 1.8em;

  @include mixins.respond-to(small) {
    margin-bottom: 1em;
  }

  &.white {
    color: #fffc;
  }
}

.text-account {
  color: var(--accent-h1);
  text-align: center;
  width: 100%;
  max-width: 32em;
  margin-top: 1.4em;
  margin-left: auto;
  margin-right: auto;
  font-size: .87em;
  line-height: 140%;

  &.white {
    color: #ffffff80;
  }
}

.link-account {
  color: var(--accent-h1);
  transition: color .3s cubic-bezier(.25, .46, .45, .94);

  &:hover {
    color: var(--accent-a1);
  }

  &.white {
    color: #ffffff80;

    &:hover {
      color: var(--white);
    }
  }
}