@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../abstracts/themes";

.account-form {
  z-index: 50;
  background-color: var(--foreground);
  text-align: center;
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
  padding: 3.1em;
  display: flex;
  position: relative;
  box-shadow: 0 15px 25px -10px var(--accent-c1);

  @include mixins.respond-to(small) {
    padding: 2em;
  }

  &.green {
    background-color: var(--accent-a1);
    box-shadow: none;
  }

  &.table {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
  }
}

.heading-account {
  max-width: 9em;
  margin-bottom: .3em;

  &.white {
    color: var(--white);
  }
}

.paragraph-account {
  max-width: 23em;
  margin-bottom: 1.8em;

  @include mixins.respond-to(small) {
    margin-bottom: 1em;
  }

  &.white {
    color: #fffc;
  }
}

.text-account {
  color: var(--accent-h1);
  text-align: center;
  width: 100%;
  max-width: 32em;
  margin-top: 1.4em;
  margin-left: auto;
  margin-right: auto;
  font-size: .87em;
  line-height: 140%;

  &.white {
    color: #ffffff80;
  }
}

.link-account {
  color: var(--accent-h1);
  transition: color .3s cubic-bezier(.25, .46, .45, .94);

  &:hover {
    color: var(--accent-a1);
  }

  &.white {
    color: #ffffff80;

    &:hover {
      color: var(--white);
    }
  }
}