:root {
  --white: #{$white};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --background: #{$background};
  --border: #{$border};
  --heading: #{$heading};
  --paragraph: #{$paragraph};

  --primary-a1: #{$primary-a1};
  --secondary-b1: #{$secondary-b1};

  --primary-a2: #{$primary-a2};
  --secondary-b2: #{$secondary-b2};

  --primary-a3: #{$primary-a3};
  --secondary-b3: #{$secondary-b3};

  --shadow-c1: #{$shadow-c1};
  --commerce-d1: #{$commerce-d1};
  --blockquote-e1: #{$blockquote-e1};
  --figcaption-f1: #{$figcaption-f1};
  --muted-g1: #{$muted-g1};
  --translucent-h1: #{$translucent-h1};
}

@media (prefers-color-scheme: dark) {
  :root {
    // --white: #{$white};
    // --primary: #{$primary};
    // --secondary: #{$secondary};
    // --background: #{$background};
    // --border: #{$border};
    // --heading: #{$heading};
    // --paragraph: #{$paragraph};
    --white: #{$dark-white};          
    --primary: #{$dark-primary};    
    --secondary: #{$dark-secondary};
    --background: #{$dark-background};
    --border: #{$dark-border};
    --heading: #{$dark-heading};
    --paragraph: #{$paragraph};
  }
}