@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../abstracts/themes";

html {
  min-height: 100dvh;
  font-family: 'sans-serif';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100dvh;
  background-color: var(--background);
  color: var(--paragraph);
  font-family: var(--font-sans);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  display: flex;
}

main {
  padding-top: calc(144 / 16 * 1rem);
  padding-bottom: calc(144 / 32 * 1rem);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: underline;
}

h1 {
  color: var(--heading);
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.12em;
  font-weight: 700;
  line-height: 110%;

  @include mixins.respond-to(small) {
    font-size: 2.4em;
  }

  @include mixins.respond-to(medium) {
    font-size: 3em;
  }

  @include mixins.respond-to(large) {
    font-size: 3.5em;
  }
}

h2 {
  color: var(--heading);
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.12em;
  font-weight: 700;
  line-height: 115%;

  @include mixins.respond-to(small) {
    font-size: 1.9em;
  }

  @include mixins.respond-to(medium) {
    font-size: 2.3em;
  }

  @include mixins.respond-to(large) {
    font-size: 2.7em;
  }
}

h3 {
  color: var(--heading);
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.37em;
  font-weight: 700;
  line-height: 120%;

  @include mixins.respond-to(small) {
    font-size: 1.6em;
  }

  @include mixins.respond-to(medium) {
    font-size: 1.8em;
  }

  @include mixins.respond-to(large) {
    font-size: 2em;
  }
}

h4 {
  color: var(--heading);
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75em;
  font-weight: 700;
  line-height: 125%;

  @include mixins.respond-to(small) {
    font-size: 1.3em;
  }

  @include mixins.respond-to(medium) {
    font-size: 1.4em;
  }

  @include mixins.respond-to(large) {
    font-size: 1.6em;
  }
}

h5 {
  color: var(--heading);
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.37em;
  font-weight: 700;
  line-height: 128%;

  @include mixins.respond-to(small) {
    font-size: 1.15em;
  }

  @include mixins.respond-to(medium) {
    font-size: 1.2em;
  }

  @include mixins.respond-to(large) {
    font-size: 1.25em;
  }
}

h6 {
  color: var(--heading);
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 600;
  line-height: 140%;
}

.heading {
  max-width: 9em;
  margin-bottom: .5em;
}

.paragraph {
  max-width: 30em;
  margin-bottom: 2.2em;
}

.subtitle {
  background-color: var(--white);
  color: var(--heading);
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .6em;
  margin-bottom: .7em;
  padding: .5em 1em;
  font-family: var(--font-mono);
  font-size: .7em;
  font-weight: 500;
  line-height: 130%;
  box-shadow: 0 10px 20px -10px var(--accent-c1);

  &.white {
    color: var(--white);
    background-color: #ffffff1a;
  }

  &.green {
    background-color: var(--accent-b1);
    color: var(--accent-a1);
  }

  &.blue {
    background-color: var(--accent-b3);
    color: var(--accent-a3);
  }

  &.red {
    background-color: var(--accent-b2);
    color: var(--accent-a2);
  }
}

.utility-page-wrap {
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3em 1em;
  display: flex;

  @include mixins.respond-to(small) {
    padding-top: 2em;
  }
}

.utility-page-content {
  background-color: var(--foreground);
  text-align: center;
  border-radius: .87em;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 24em;
  margin-bottom: 0;
  padding: 3.1em;
  display: flex;
  box-shadow: 0 15px 25px -10px var(--accent-c1);

  @include mixins.respond-to(small) {
    padding: 2em;
  }
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-top: .8em;
  display: flex;
}

.main {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;

  @include mixins.respond-to(small) {
    padding-top: 3em;
  }
}

.content {
  width: 100%;
  max-width: 75em;
}

.content.narrow {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 60em;
  display: flex;
}

.section {
  justify-content: center;
  align-items: center;
  padding: 3.75em 2em;
  /* display: flex; */

  @include mixins.respond-to(medium) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  @include mixins.respond-to(small) {
    padding: 2.5em 1.5em;
  }
}

.visually-hidden-focusable {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.visually-hidden-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}