@import '../libs/variables';
@import '../libs/mixins';

h1, h2, h3, h4, h5, h6 {
  color: $heading;
  margin: 0;
}

h1 {
  font-size: $h1-font-size;
  font-weight: $font-weight-bold;
  line-height: 1.1;

  @include respond-to(large) {
    font-size: 3.5em;
  }

  @include respond-to(medium) {
    font-size: 3em;
  }

  @include respond-to(small) {
    font-size: 2.4em;
  }
}

h2 {
  font-size: $h2-font-size;
  font-weight: $font-weight-bold;
  line-height: 1.15;

  @include respond-to(large) {
    font-size: 2.7em;
  }

  @include respond-to(medium) {
    font-size: 2.3em;
  }

  @include respond-to(small) {
    font-size: 1.9em;
  }
}

h3 {
  font-size: $h3-font-size;
  font-weight: $font-weight-bold;
  line-height: 1.2;

  @include respond-to(large) {
    font-size: 2em;
  }

  @include respond-to(medium) {
    font-size: 1.8em;
  }

  @include respond-to(small) {
    font-size: 1.6em;
  }
}

h4 {
  font-size: $h4-font-size;
  font-weight: $font-weight-bold;
  line-height: 1.25;

  @include respond-to(large) {
    font-size: 1.6em;
  }

  @include respond-to(medium) {
    font-size: 1.4em;
  }

  @include respond-to(small) {
    font-size: 1.3em;
  }
}

h5 {
  font-size: $h5-font-size;
  font-weight: $font-weight-bold;
  line-height: 1.28;

  @include respond-to(large) {
    font-size: 1.25em;
  }

  @include respond-to(medium) {
    font-size: 1.2em;
  }

  @include respond-to(small) {
    font-size: 1.15em;
  }
}

h6 {
  font-size: $h6-font-size;
  font-weight: 600;
  line-height: 1.4;
}

// Paragraphs and Links
p {
  margin: 0;
}

a {
  text-decoration: underline;
}


// Lists
ul, ol {
  margin: 1.5em 0;
  padding-left: 2.2em;
}

li {
  padding: 0.3em 0.5em;
}

strong {
  color: $heading;
  font-weight: $font-weight-bold;
}

em {
  font-style: italic;
}

blockquote {
  color: $primary-a1;
  border-left: 2px solid #39ff3933;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  padding: .1em 0 .1em 1.3em;
  font-size: $font-size-large;
  font-weight: $font-weight-normal;
  line-height: $line-height-large;
}

figure {
  border-radius: .87em;
  margin-top: 2.7em;
  margin-bottom: 2.7em;
  overflow: hidden;
}

figcaption {
  text-align: center;
  background-color: $background;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1.2em 7%;
  font-size: $font-size-normal;
  line-height: 145%;
}

.rich-text-block p {
  margin-bottom: 1.4em;
}

.rich-text-block h1 {
  margin-bottom: .4em;
}

.rich-text-block h2, .rich-text-block h3, .rich-text-block h4, .rich-text-block h5, .rich-text-block h6 {
  margin-top: 1em;
  margin-bottom: .4em;
}

.rich-text-block a {
  border-bottom: 1px solid $primary-a1;
  color: $primary-a1;
  text-decoration: none;
  transition: border-color .3s cubic-bezier(.25, .46, .45, .94), color .3s cubic-bezier(.25, .46, .45, .94);
}

.rich-text-block a:hover {
  border-bottom-color: $heading;
  color: $heading;
}