@import '../libs/variables';
@import '../libs/mixins';

.collection-list-categories {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: block;
}

.collection-item-categories {
  display: inline-block;
}

.link-category {
  grid-column-gap: .63em;
  grid-row-gap: .63em;
  color: $heading;
  border-radius: .87em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2em 1.4em;
  text-decoration: none;
  transition: color .3s cubic-bezier(.25, .46, .45, .94);
  display: flex;

  &:hover {
    color: $primary-a1;
  }

  &.w--current {
    background-color: $white;
    box-shadow: 0 15px 25px -10px $shadow-c1;
  }

  @include respond-to(large) {
    padding: 1em 1.2em;
  }
}

.icon-category {
  width: 1.7em;
  height: 1.7em;
}

.block-categories {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: .6em;
  display: flex;

  @include respond-to(large) {
    flex-direction: column;
  }

  @include respond-to(medium) {
    font-size: .9em;
  }
}

.text-category {
  letter-spacing: -.02em;
  font-size: 1em;
  font-weight: 600;
  line-height: 140%;
}