@import '../libs/mixins';

.block-video {
  width: 100%;
  max-width: 800px;
  margin: 2em auto;
  border-radius: 1em;
  overflow: hidden;

  @include respond-to(small) {
    max-width: 100%;
    margin: 1em auto;
  }

  @include respond-to(medium) {
    max-width: 90%;
  }
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}