@import '../libs/variables';
@import '../libs/mixins';

.list {
  grid-column-gap: .7em;
  grid-row-gap: .7em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon-list {
  width: 1.125em;
  height: 1.125em;
}

.block-icon-list {
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 1.625em;
  height: 1.625em;
  display: flex;

  &.red {
    background-color: $secondary-b2;
  }

  &.blue {
    background-color: $secondary-b3;
  }

  &.green {
    background-color: $secondary-b1;
  }
}

.heading-list {
  color: $primary-a1;

  &.red {
    color: $primary-a2;
  }

  &.blue {
    color: $primary-a3;
  }

  &.green {
    color: $primary-a1;
  }
}

.block-list {
  grid-column-gap: .56em;
  grid-row-gap: .56em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}