@use 'themes';

:root {
  --white: white;

  @include themes.css-vars-from-map(themes.$light-theme);

  --font-sans: 'Space Grotesk', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;
  --font-mono: 'IBM Plex Mono', ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include themes.css-vars-from-map(themes.$dark-theme);    
  }
}

/// Body
///
/// Settings for the `<body>` element.

/// $body-bg:                   $background;
/// $body-color:                $paragraph;


/// Typography
///
/// Font, line-height, and color for body text, headings, and more.

// Body fonts.
/// $font-family-base:            null;
$font-size-base:              1rem;
/// $font-weight-light:           300;
/// $font-weight-normal:          400;
$font-weight-semibold:        600;
$font-weight-bold:            700;
/// $font-weight-base:            $font-weight-normal;

// Headings
$headings-font-family:        var(--font-mono);
$headings-font-weight:        700;
$headings-color:              var(--heading);;
$h1-font-size:                $font-size-base * 4.12;
$h2-font-size:                $font-size-base * 3.12;
$h3-font-size:                $font-size-base * 2.37;
$h4-font-size:                $font-size-base * 1.75;
$h5-font-size:                $font-size-base * 1.37;
$h6-font-size:                $font-size-base;

$font-size-small:             .7rem;
$font-size-normal:            .87rem;
$font-size-large:             1.125rem;

$font-weight-base:            300;
$font-weight-light:           400;
$font-weight-normal:          500;
$font-weight-bold:            700;

$line-height-base:            1.1;
$line-height-small:           1.2;
$line-height-normal:          1.3;
$line-height-large:           1.6;

$btn-border-radius: 50em;
$btn-font-weight: $font-weight-normal;
$btn-line-height: $line-height-normal;
$btn-letter-spacing: -0.02em;
$btn-font-size: 1.12rem;
$btn-padding-y: 0.9rem;
$btn-padding-x: 1.8rem;

$btn-border-radius-sm: 50em;
$btn-padding-y-sm: 0.7rem;
$btn-padding-x-sm: 1.4rem;
$btn-font-size-sm: 1rem;